[Unit]
Description=PC Controller Web Service
After=network.target

[Service]
Type=simple
Environment="DEVICE_MAC=YOUR_MAC_ADDRESS_HERE"
Environment="SERVER_IP=YOUR_SERVER_IP_HERE"
ExecStart=/usr/local/bin/pc-controller-embedded %i
Restart=always

[Install]
WantedBy=multi-user.target
